# Исключаем временные и скрытые файлы
.*.swp
.DS_Store

# Исключаем файлы Python
*.pyc
__pycache__

# Исключаем локальные файлы, которые могут быть созданы разработчиком
venv/
*.log

# Исключаем файлы для настройки IDE или редактора кода
.idea/
.vscode/

# Исключаем файлы и каталоги, которые не нужны для работы бота
tableBot_key.json
.env